node_modules/
.env
.DS_Store
dist/
build/
.agent/scratch/
*.log

.agent/
/docs/
GEMINI.md
README.md
.agents/
skills-lock.json
.vercel
.env.vercel.production

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
